{% extends 'base.html' %}
{% block title %} Google scholar API {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Google Scholar API Logo">
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <a href="{{ url_for('url') }}">
        <button type="button" class="btn btn-lg btn-primary index_btn my-5">Enter URL</button>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="{{ url_for('search') }}">
        <button type="button" class="btn btn-lg btn-primary index_btn my-5 mx-4">Search</button>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="{{ url_for('tagged') }}">
        <button type="button" class="btn btn-lg btn-primary index_btn mt-5">Tagged</button>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="{{ url_for('untagged') }}">
        <button type="button" class="btn btn-lg btn-primary index_btn mt-5">Untagged</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
